.firefly {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #fff;
  background-image: url('../../assets/images/firefly.png');
  background-size: 60px;
  background-position: center;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
}
